*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

::before,
::after {
	--content: "";
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: Bely, system-ui, sans-serif;
}

body {
	margin: 0;
	line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}

button,
[role="button"] {
	cursor: pointer;
}

img,
video {
	max-width: 100%;
	height: auto;
}

[hidden] {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bely Display", sans-serif;
	font-weight: 700;
	line-height: 1.1;
}

img,
video {
	width: 100%;
}

header {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	--bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--bg-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	header {
		-moz-column-gap: 1rem;
		column-gap: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

header .column {
	display: flex;
	max-width: 20rem;
}

@media (min-width: 768px) {
	header .column {
		width: 33.333333%;
	}
}

header .left-menu.mobile {
	position: absolute;
	top: 50%;
	left: 0.75rem;
	--translate-y: -50%;
	transform: translate(var(--translate-x), var(--translate-y))
		rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y))
		scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

@media (min-width: 768px) {
	header .left-menu.mobile {
		display: none;
	}
}

header .right-menu.mobile {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	display: flex;
	--translate-y: -50%;
	transform: translate(var(--translate-x), var(--translate-y))
		rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y))
		scaleX(var(--scale-x)) scaleY(var(--scale-y));
	align-items: center;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
}

@media (min-width: 768px) {
	header .right-menu.mobile {
		display: none;
	}
}

header .icon {
	margin: 0.5rem;
	height: 1.75rem;
	width: auto;
}

header .column.logo {
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
	line-height: 1;
	--text-opacity: 1;
	color: rgb(224 209 92 / var(--text-opacity));
}

@media (min-width: 768px) {
	header .column.logo {
		text-align: left;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

header input {
	width: 100%;
	max-width: 20rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

header .column.search {
	display: none;
	justify-content: center;
}

@media (min-width: 768px) {
	header .column.search {
		display: flex;
	}
}

header .column.menu {
	display: none;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 768px) {
	header .column.menu {
		display: flex;
	}
}

header .column.menu div {
	display: flex;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
}

footer {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1.5rem;
	--bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--bg-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 1024px) {
	footer {
		flex-direction: row;
		-moz-column-gap: 1.5rem;
		column-gap: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

footer .column {
	display: flex;
	max-width: 20rem;
}

@media (min-width: 1024px) {
	footer .column {
		width: 25%;
	}
}

footer .icon {
	margin: 0.5rem;
	height: 0.75rem;
	width: auto;
}

footer .column.logo {
	max-width: 200px;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
	line-height: 1;
	--text-opacity: 1;
	color: rgb(224 209 92 / var(--text-opacity));
}

@media (min-width: 1024px) {
	footer .column.logo {
		width: 16.666667%;
		text-align: left;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

footer .column.menu {
	display: flex;
	max-width: 280px;
	flex-direction: row;
	align-items: center;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	text-align: center;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 1024px) {
	footer .column.menu {
		width: 33.333333%;
		text-align: left;
	}
}

footer .column.menu > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
}

footer .column.menu .social {
	font-weight: 600;
}

footer .column.menu .social a {
	display: flex;
	align-items: center;
}

footer .column.suscribe {
	display: flex;
	max-width: 240px;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

@media (min-width: 1024px) {
	footer .column.suscribe {
		align-items: flex-start;
	}
}

footer .column.suscribe div {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .column.suscribe input {
	width: 100%;
	border-width: 1px;
	--border-opacity: 1;
	border-color: rgb(255 255 255 / var(--border-opacity));
	background-color: transparent;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: center;
}

footer .column.suscribe button {
	height: 100%;
	border-width: 1px;
	--border-opacity: 1;
	border-color: rgb(255 255 255 / var(--border-opacity));
	--bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--bg-opacity));
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	--text-opacity: 1;
	color: rgb(0 0 0 / var(--text-opacity));
}

footer .column.contact {
	display: flex;
	max-width: 200px;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
}

@media (min-width: 1024px) {
	footer .column.contact {
		align-items: flex-start;
	}
}

*,
::before,
::after {
	--translate-x: 0;
	--translate-y: 0;
	--rotate: 0;
	--skew-x: 0;
	--skew-y: 0;
	--scale-x: 1;
	--scale-y: 1;
	--pan-x: ;
	--pan-y: ;
	--pinch-zoom: ;
	--scroll-snap-strictness: proximity;
	--ordinal: ;
	--slashed-zero: ;
	--numeric-figure: ;
	--numeric-spacing: ;
	--numeric-fraction: ;
	--ring-inset: ;
	--ring-offset-width: 0px;
	--ring-offset-color: #fff;
	--ring-color: rgb(59 130 246 / 0.5);
	--ring-offset-shadow: 0 0 #0000;
	--ring-shadow: 0 0 #0000;
	--shadow: 0 0 #0000;
	--shadow-colored: 0 0 #0000;
	--blur: ;
	--brightness: ;
	--contrast: ;
	--grayscale: ;
	--hue-rotate: ;
	--invert: ;
	--saturate: ;
	--sepia: ;
	--drop-shadow: ;
	--backdrop-blur: ;
	--backdrop-brightness: ;
	--backdrop-contrast: ;
	--backdrop-grayscale: ;
	--backdrop-hue-rotate: ;
	--backdrop-invert: ;
	--backdrop-opacity: ;
	--backdrop-saturate: ;
	--backdrop-sepia: ;
}

.hero {
	display: flex;
	flex-direction: column;
	--bg-opacity: 1;
	background-color: rgb(56 40 98 / var(--bg-opacity));
}

@media (min-width: 768px) {
	.hero {
		flex-direction: row;
	}
}

.hero .hero-image {
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

@media (min-width: 768px) {
	.hero .hero-image {
		width: 33.333333%;
	}
}

@media (min-width: 1024px) {
	.hero .hero-image {
		width: 41.666667%;
	}
}

.hero .hero-legend {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
}

@media (min-width: 640px) {
	.hero .hero-legend {
		flex-direction: row;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.hero .hero-legend {
		width: 66.666667%;
		align-items: flex-start;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.hero .hero-legend {
		width: 58.333333%;
		padding: 2.5rem;
	}
}

.hero .hero-legend .meta {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}

@media (min-width: 640px) {
	.hero .hero-legend .meta {
		width: 58.333333%;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.hero .hero-legend .meta {
		margin-top: 1rem;
		width: 66.666667%;
		row-gap: 1.5rem;
		text-align: left;
	}
}

@media (min-width: 1024px) {
	.hero .hero-legend .meta {
		width: 58.333333%;
	}
}

.hero .hero-legend .meta h2 {
	--text-opacity: 1;
	color: rgb(224 209 92 / var(--text-opacity));
}

.hero .hero-legend .meta h3 {
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

.hero .hero-legend .meta p {
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

.hero .hero-legend .cover {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	text-align: center;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 640px) {
	.hero .hero-legend .cover {
		width: 41.666667%;
		padding: 1.5rem;
	}
}

@media (min-width: 768px) {
	.hero .hero-legend .cover {
		width: 33.333333%;
		row-gap: 1rem;
		padding: 0px;
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}

@media (min-width: 1024px) {
	.hero .hero-legend .cover {
		width: 41.666667%;
	}
}

.subhero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.subhero {
		gap: 2rem;
		padding: 3rem;
	}
}

@media (min-width: 1024px) {
	.subhero {
		flex-direction: row;
		gap: 2.5rem;
		padding: 2.5rem;
	}
}

.subhero .featured {
	display: flex;
	max-width: 32rem;
	flex-direction: column;
	gap: 1rem;
	padding: 1.5rem;
}

@media (min-width: 640px) {
	.subhero .featured {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.subhero .featured {
		gap: 1.5rem;
		padding: 0px;
	}
}

.subhero .featured img {
	height: auto;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

@media (min-width: 640px) {
	.subhero .featured img {
		width: 25%;
	}
}

@media (min-width: 768px) {
	.subhero .featured img {
		width: 33.333333%;
	}
}

@media (min-width: 1024px) {
	.subhero .featured img {
		width: 41.666667%;
	}
}

.subhero .featured .meta {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media (min-width: 640px) {
	.subhero .featured .meta {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.subhero .featured .meta {
		width: 66.666667%;
	}
}

@media (min-width: 1024px) {
	.subhero .featured .meta {
		width: 58.333333%;
	}

	.subhero .featured .meta h3 {
		margin-bottom: auto;
	}
}

.collection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	--bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--bg-opacity));
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.collection {
		padding: 3rem;
	}
}

@media (min-width: 1024px) {
	.collection {
		padding: 2.5rem;
	}
}

.collection h2 {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}

.collection .group {
	display: flex;
	max-width: 72rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	--bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--bg-opacity));
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.collection .group {
		gap: 2rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media (min-width: 1024px) {
	.collection .group {
		gap: 2.5rem;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.collection .book {
	display: flex;
	width: 41.666667%;
	flex-direction: column;
	row-gap: 0.25rem;
}

@media (min-width: 640px) {
	.collection .book {
		width: 25%;
	}
}

@media (min-width: 1024px) {
	.collection .book {
		row-gap: 0.5rem;
	}
}

@media (min-width: 1280px) {
	.collection .book {
		width: 16.666667%;
	}
}

.collection .book img {
	height: auto;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.collection .book h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	line-height: 1.25;
}

.collection .book h4 {
	font-family: Bely, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	line-height: 1.25;
}

.shop {
	display: flex;
	flex-direction: column;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
}

@media (min-width: 768px) {
	.shop {
		flex-direction: row;
		justify-content: center;
	}
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.search {
		flex-direction: row;
		align-items: flex-start;
	}
}

.shop .authors {
	display: flex;
	min-height: 100%;
	max-width: 48rem;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.shop .authors {
		width: 41.666667%;
		padding: 3rem;
	}
}

@media (min-width: 1024px) {
	.shop .authors {
		width: 33.333333%;
		padding: 2.5rem;
	}
}

.shop .authors h1 {
	text-align: center;
}

.shop .authors .group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	row-gap: 1rem;
	padding-bottom: 1rem;
	padding-top: 1.5rem;
}

@media (min-width: 768px) {
	.shop .authors .group {
		gap: 1.5rem;
		padding-top: 3rem;
	}
}

@media (min-width: 1024px) {
	.shop .authors .group {
		gap: 2rem;
		padding-top: 2.5rem;
	}
}

.shop .authors .author {
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	justify-content: center;
	gap: 1rem;
}

@media (min-width: 640px) {
	.shop .authors .author {
		width: 41.666667%;
	}
}

@media (min-width: 768px) {
	.shop .authors .author {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.shop .authors .author {
		gap: 0.5rem;
	}
}

@media (min-width: 1280px) {
	.shop .authors .author {
		width: 41.666667%;
		flex-direction: column;
	}
}

.shop .authors .author img {
	height: auto;
	width: 25%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

@media (min-width: 768px) {
	.shop .authors .author img {
		width: 41.666667%;
	}
}

@media (min-width: 1280px) {
	.shop .authors .author img {
		width: 100%;
	}
}

.shop .authors .author .meta {
	width: 25%;
}

@media (min-width: 640px) {
	.shop .authors .author .meta {
		width: 41.666667%;
	}
}

@media (min-width: 768px) {
	.shop .authors .author .meta {
		width: 41.666667%;
	}
}

@media (min-width: 1280px) {
	.shop .authors .author .meta {
		width: 100%;
	}
}

.shop .authors .author h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	line-height: 1.25;
}

.shop .authors .author h4 {
	font-family: Bely, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	line-height: 1.25;
}

.shop .books,
.search .books {
	display: flex;
	max-width: 80rem;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	--bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--bg-opacity));
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.shop .books,
	.search .books {
		width: 58.333333%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media (min-width: 1024px) {
	.shop .books,
	.search .books {
		width: 66.666667%;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.shop .books .heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

@media (min-width: 1024px) {
	.shop .books .heading {
		flex-direction: row;
	}
}

.shop .books .heading .genres {
	margin-top: 0.75rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.shop .books h2 {
	text-align: center;
	font-family: Bely, sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
}

@media (min-width: 768px) {
	.shop .books h2 {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

.shop .books .group,
.search .books .group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	row-gap: 1.5rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 768px) {
	.shop .books .group,
	.search .books .group {
		row-gap: 2rem;
		padding: 3rem;
	}
}

@media (min-width: 1024px) {
	.shop .books .group,
	.search .books .group {
		row-gap: 2.5rem;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.shop .books .group,
	.search .books .group {
		-moz-column-gap: 1.5rem;
		column-gap: 1.5rem;
	}
}

.shop .books .book,
.search .books .book {
	display: flex;
	flex-direction: row;
	row-gap: 0.25rem;
}

@media (min-width: 1024px) {
	.shop .books .book,
	.search .books .book {
		width: 41.666667%;
		row-gap: 0.5rem;
	}
}

.shop .books .book img,
.search .books .book img {
	height: auto;
	width: 41.666667%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

@media (min-width: 768px) {
	.shop .books .book img,
	.search .books .book img {
		width: 50%;
	}
}

@media (min-width: 1280px) {
	.shop .books .book img,
	.search .books .book img {
		width: 41.666667%;
	}
}

.shop .books .book .meta,
.search .books .book .meta {
	display: flex;
	width: 75%;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 1rem;
}

.shop .books .book h3,
.search .books .book h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	line-height: 1.25;
}

.shop .books .book h4,
.search .books .book h4 {
	font-family: Bely, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	line-height: 1.25;
}

.shop .free-shipping,
.search .free-shipping {
	display: none;
	max-width: 24rem;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5rem;
	--bg-opacity: 1;
	background-color: rgb(56 40 98 / var(--bg-opacity));
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.shop .free-shipping,
	.search .free-shipping {
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: flex;
		width: 33.333333%;
		padding: 3rem;
	}
}

@media (min-width: 1024px) {
	.shop .free-shipping,
	.search .free-shipping {
		width: 25%;
		padding: 2.5rem;
	}
}

.shop .free-shipping h3,
.search .free-shipping h3 {
	text-align: center;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

.shop .free-shipping img,
.search .free-shipping img {
	height: auto;
	width: 5rem;
}

.search-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.search-bar .bar {
	display: flex;
	width: 100%;
	max-width: 24rem;
	flex-direction: row;
	align-items: center;
}

.search-bar .bar input {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.search-bar .meta {
	display: flex;
	width: 100%;
	max-width: 64rem;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 1024px) {
	.search-bar .meta {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.search-bar .meta h1 {
	font-family: Bely, sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

@media (min-width: 1024px) {
	.search-bar .meta h1 {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

.search-bar .meta h2 {
	font-family: Bely, sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

@media (min-width: 1024px) {
	.search-bar .meta h2 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

.single {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.5rem;
}

.single .book {
	display: flex;
	max-width: 64rem;
	flex-direction: column;
}

@media (min-width: 768px) {
	.single .book {
		flex-direction: row;
	}
}

.single .book .book-image {
	width: 100%;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.single .book .book-image {
		width: 41.666667%;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.single .book .book-image {
		padding: 2.5rem;
	}
}

.single .book .book-image img {
	aspect-ratio: 1 / 1;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.single .book .book-info {
	display: flex;
	width: 100%;
	flex-direction: column;
	row-gap: 1.75rem;
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.single .book .book-info {
		width: 58.333333%;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.single .book .book-info {
		padding: 2.5rem;
	}
}

.single .book .book-info h1 {
	font-family: Bely Display, sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
}

@media (min-width: 1024px) {
	.single .book .book-info h1 {
		font-size: 3rem;
		line-height: 1;
	}
}

.single .book .book-info h2 {
	font-family: Bely, sans-serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
}

@media (min-width: 1024px) {
	.single .book .book-info h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

.single .book .book-info .meta {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}

.single .book .book-info .buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.single .author {
	display: flex;
	max-width: 64rem;
	flex-direction: column;
	row-gap: 1.5rem;
}

.single .author .bio {
	display: flex;
	width: 100%;
	flex-direction: column;
	--bg-opacity: 1;
	background-color: rgb(56 40 98 / var(--bg-opacity));
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 768px) {
	.single .author .bio {
		flex-direction: row;
	}
}

.single .author h3 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
}

@media (min-width: 768px) {
	.single .author h3 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

@media (min-width: 1280px) {
	.single .author h3 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.single .author .bio img {
	aspect-ratio: 1 / 1;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

@media (min-width: 768px) {
	.single .author .bio img {
		width: 33.333333%;
	}
}

.single .author .bio .details {
	display: flex;
	width: 100%;
	flex-direction: column;
	row-gap: 1.75rem;
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.single .author .bio .details {
		width: 66.666667%;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.single .author .bio .details {
		padding: 2.5rem;
	}
}

.single .author .book-info h1 {
	font-family: Bely Display, sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
}

@media (min-width: 1024px) {
	.single .author .book-info h1 {
		font-size: 3rem;
		line-height: 1;
	}
}

.single .author .book-info h2 {
	font-family: Bely, sans-serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
}

@media (min-width: 1024px) {
	.single .author .book-info h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

.single .author .book-info .meta {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}

.single .author .book-info .buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.single .related {
	margin-bottom: 1.5rem;
	display: flex;
	max-width: 64rem;
	flex-direction: column;
	row-gap: 1.5rem;
}

.single .related .group {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 768px) {
	.single .related .group {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		-moz-column-gap: 1.5rem;
		column-gap: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.single .related .group {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		padding-left: 0px;
		padding-right: 0px;
	}
}

.single .related h3 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
}

@media (min-width: 768px) {
	.single .related h3 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

@media (min-width: 1280px) {
	.single .related h3 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.single .related .group .book {
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
}

.single .related .group .book .book-info {
	display: flex;
	width: 100% !important;
	flex-direction: column;
	row-gap: 0.25rem;
	text-align: center;
}

.single .related .group .book .book-info h4 {
	font-family: Bely, sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

.single .related .group .book .book-info h5 {
	font-family: Bely, sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 400;
}

.cart {
	display: flex;
	justify-content: center;
}

.product-table {
	display: flex;
	width: 100%;
	max-width: 64rem;
	flex-direction: column;
	align-items: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 768px) {
	.product-table {
		align-items: flex-end;
	}
}

@media (min-width: 1280px) {
	.product-table {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.product-table h1 {
	margin-bottom: 1rem;
	width: 100%;
	font-family: Bely Display, sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
}

@media (min-width: 768px) {
	.product-table h1 {
		margin-bottom: 0px;
	}
}

.product-table table {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}

.product-table table thead th {
	border-bottom-width: 2px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding: 0.5rem;
	text-align: left;
	font-family: Bely Display, sans-serif;
}

@media (min-width: 768px) {
	.product-table table thead th:nth-child(1) {
		padding-right: 0.5rem;
		padding-left: 0px;
	}
}

.product-table table tbody tr {
	border-top-width: 2px;
	border-bottom-width: 2px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
}

@media (min-width: 768px) {
	.product-table table tbody tr {
		border-width: 0px;
	}
}

.product-table table tbody td {
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
}

@media (min-width: 768px) {
	.product-table table tbody td {
		border-bottom-width: 2px;
		text-align: left;
	}

	.product-table table tbody tr td:nth-child(1) {
		padding-right: 1rem;
		padding-left: 0px;
	}
}

.product-table table tbody td input {
	width: 4rem;
	border-width: 1px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.product-table .subtotal {
	display: flex;
	justify-content: flex-end;
	padding: 0.75rem;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 500;
}

.product-table .buttons {
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 0.75rem;
	padding: 0.75rem;
}

.product-table .buttons a {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	table {
		width: 100%;
		display: block;
	}

	thead {
		display: none;
	}

	tr:nth-of-type(2n) {
		background-color: inherit;
	}

	table tr {
		margin-bottom: 2rem;
	}

	tbody {
		display: grid;
	}

	td {
		display: block;
		text-align: center;
	}

	td:before {
		content: attr(data-th);
		display: block;
		font-size: 1rem;
		line-height: 1.5rem;
		text-align: center;
		font-weight: 600;
		padding-bottom: 0rem;
	}
}

.product-table img {
	margin: auto;
	max-width: 200px;
}

@media (min-width: 768px) {
	.product-table img {
		margin: 0px;
	}
}

.product-table img.icon {
	height: auto;
	width: 35px;
}

.product-table .user-data {
	margin-top: 0.75rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 2rem;
	border-top-width: 2px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	.product-table .user-data {
		flex-direction: row;
	}
}

.product-table .user-data > * {
	width: 100%;
}

@media (min-width: 768px) {
	.product-table .user-data > * {
		width: 50%;
	}
}

.product-table .field {
	margin-top: 0.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
}

.product-table .\!field {
	margin-top: 0.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
}

.product-table .inputs {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.75rem;
}

.product-table .inputs .field {
	margin-top: 0px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0.5rem;
}

.product-table .inputs .\!field {
	margin-top: 0px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0.5rem;
}

.product-table .inputs .field input {
	width: 100%;
	border-width: 1px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: left;
}

.product-table .inputs .\!field input {
	width: 100%;
	border-width: 1px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: left;
}

.product-table .user-data .payment .payments-logo {
	display: flex;
	justify-content: center;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	.product-table .user-data .payment .payments-logo {
		justify-content: flex-start;
	}
}

.product-table .user-data .payment .payments-logo img {
	height: 3.5rem;
	width: auto;
}

.product-table .inputs .field .two-fields {
	display: flex;
	-moz-column-gap: 0.75rem;
	column-gap: 0.75rem;
}

.product-table .inputs .\!field .two-fields {
	display: flex;
	-moz-column-gap: 0.75rem;
	column-gap: 0.75rem;
}

.confirmation {
	display: flex;
	width: 100%;
	max-width: 64rem;
	flex-direction: column;
	row-gap: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

@media (min-width: 768px) {
	.confirmation {
		flex-direction: row;
	}
}

.confirmation > * {
	width: 100%;
}

@media (min-width: 768px) {
	.confirmation > * {
		width: 50%;
	}
}

.confirmation h1,
.confirmation h2 {
	margin-bottom: 1rem;
	border-bottom-width: 2px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding-bottom: 0.5rem;
	font-family: Bely Display, sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
}

.confirmation .details {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}

.confirmation .details .data {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	-moz-column-gap: 0.75rem;
	column-gap: 0.75rem;
	row-gap: 1rem;
}

@media (min-width: 768px) {
	.confirmation .details .data {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.confirmation .details .\!data {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	-moz-column-gap: 0.75rem;
	column-gap: 0.75rem;
	row-gap: 1rem;
}

@media (min-width: 768px) {
	.confirmation .details .\!data {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.confirmation .details .label {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.confirmation .summary {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}

.confirmation .summary .details {
	display: flex;
	gap: 0.75rem;
}

@media (min-width: 768px) {
	.confirmation .summary .details {
		flex-direction: row;
	}
}

.confirmation .summary .details img {
	height: auto;
	width: 100%;
}

@media (min-width: 768px) {
	.confirmation .summary .details img {
		width: 33.333333%;
	}
}

.confirmation .summary .details .meta {
	display: flex;
	width: 100%;
	flex-direction: column;
	row-gap: 0.5rem;
}

@media (min-width: 768px) {
	.confirmation .summary .details .meta {
		width: 66.666667%;
	}
}

.confirmation .summary .total {
	display: flex;
	justify-content: space-between;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	border-top-width: 2px;
	border-bottom-width: 2px;
	--border-opacity: 1;
	border-color: rgb(0 0 0 / var(--border-opacity));
	padding: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.confirmation .summary a {
	margin-left: auto;
	margin-right: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.confirmation .summary .total .label {
	font-family: Bely Display, sans-serif;
}

.title {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 600;
}

@media (min-width: 768px) {
	.title {
		font-size: 3rem;
		line-height: 1;
	}
}

.subtitle {
	font-family: Bely, sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 500;
}

@media (min-width: 768px) {
	.subtitle {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

.btn-primary {
	border-radius: 0.375rem;
	--bg-opacity: 1;
	background-color: rgb(224 209 92 / var(--bg-opacity));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

.btn-secondary {
	border-radius: 0.375rem;
	--bg-opacity: 1;
	background-color: rgb(56 40 98 / var(--bg-opacity));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}
